body {
background-color: #0000ff;
}

div {
background-color:black;
padding:20px;
}

h2 {
color: #00e6e6;
font-family:New Times Roman;
font-size:425%;
text-align:center;
}

p {
color: #00e6e6;
font-size:125%;
font-family:New Times Roman;
text-align: top;
}

img {
border: 2px solid #00e6e6;
}

a:link {
  color: #00e6e6;
  background-color: transparent;
  text-decoration: none;
  font-size:160%;
}
a:visited {
  color: #00e6e6;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
